.media-slider-component {
  position: relative;
}

.media-slider-list {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.product__media-slider-item {
  width: 100%;
  list-style: none;
  aspect-ratio: 1 / 1;
  flex: 0 0 100%;
  height: 100%;
}

.product__media-slider-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}