.media-slider-component {
  display: block;
  position: relative;
  overflow: hidden;
}

.media-slider-list {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.product__media-slider-item {
  aspect-ratio: 1 / 1;
  flex: 0 0 100%;
  width: 100%;
  user-select: none;
}

.product__media-slider-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}

.media-slider-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}